In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [25]:
dataset = pd.read_csv('amazon_alexa.tsv',sep='\t')
df=dataset.dropna(how='any')
dataset

      rating  ... feedback
0          5  ...        1
1          5  ...        1
2          4  ...        1
3          5  ...        1
4          5  ...        1
...      ...  ...      ...
3145       5  ...        1
3146       5  ...        1
3147       5  ...        1
3148       5  ...        1
3149       4  ...        1

[3150 rows x 5 columns]

In [26]:
X=df.iloc[:,:-1].values
Y=df.iloc[:,-1].values

In [28]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X[:,1]=le.fit_transform(X[:,1])
X[:,2]=le.fit_transform(X[:,2])
X[:,3]=le.fit_transform(X[:,3])

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [31]:
from sklearn.naive_bayes import GaussianNB
GB=GaussianNB()
GB.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [33]:
y_pred = GB.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1 1]
 [1 1]
 [1 1]
 ...
 [1 1]
 [0 0]
 [1 1]]

In [34]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[ 71   0]
 [  2 715]]

0.9974619289340102